
Flask==2.2.5
Flask-Compress==1.13
Jinja2==3.1.4
MarkupSafe==2.1.5
Werkzeug==2.2.3
certifi==2024.2.2
click==8.1.7
dash==2.16.1
future==0.18.3
google-api-core==2.19.0
google-api-python-client==2.104.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
googleapis-common-protos==1.63.0
gspread==5.11.0
gunicorn
httplib2==0.22.0
idna==3.7
itsdangerous==2.1.2

oauthlib==3.2.2
packaging==24.0
pandas==2.3.0
plotly==5.20.0
protobuf==4.25.3
pyasn1==0.5.1
pyasn1-modules==0.3.0
requests==2.31.0
requests-oauthlib==1.4.0
uritemplate==4.1.1